.todo-create-label {
  display: flex;
  border-radius: 8px;
  margin-bottom: 20px;
}

.todo-create-input {
  width: 100%;
  padding-left: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 5px 0 0 5px;
}

.create-todo-btn {
  color: #fff;
  background: var(--primary);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 35px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  border-radius: 0 5px 5px 0;
}

.create-todo-btn:hover {
  background: color-mix(in srgb, var(--primary), #000 20%);
}
