.todo-search-button {
  background-color: #fff;
  border: none;
  border-radius: 5px;
}

.todo-search-label {
  width: fit-content;
  margin: auto;
  border-radius: 8px;
}

.todo-search-input {
  border: none;
  padding: 5px 0 5px 10px;
  font-size: 16px;
  outline: none;
}
